.singleCard {
    background-color:black;
    width: 166px;
    height:300px;
    border-radius: 5px;
    padding:0;
    margin-right:10px;
        text-align: center;
}

.movieimg {
    height:233px;
    width:100%;
}

.moviebody {

    height:30px;
    text-align: center;
    color:white;
}

.footer {
    display:none;
}

.singleCard:hover .footer {
    display:block;
}

.controlButton {
    width:100%;
 }

 .List {
    display:flex;
  }
  
  .listName {
    color:white;
  }

  .appheader {
      height:30px;
      width:100%;
      color:red;
      background-color:black;
      position:fixed;
      top:0;
      left:100px;
      margin-top:10px;
  }

  .wholelist {
      margin-top:0;
  }

  .List1 {
      margin-top:50px;
  }

  .List2 {
    margin-top:50px;
}