.singleCard {
    background-color:black;
    width: 166px;
    height:300px;
    border-radius: 5px;
    padding:0;
    margin-right:10px;
        text-align: center;
}

.movieimg {
    height:233px;
    width:100%;
}

.moviebody {

    height:30px;
    text-align: center;
    color:white;
}

.footer {
    display:none;
}

.singleCard:hover .footer {
    display:block;
}

.controlButton {
    width:100%;
 }

 .List {
    display:flex;
    overflow-x:auto;
    overflow-y:hidden;
    min-width: 700px;
  }
  
  .listName {
    color:white;
  }

  .appheader {
      height:30px;
      width:90%;
      color:red;
      background-color:black;
      position:fixed;
      top:0;
      left:5%;
   
  }

  .wholelist {
      margin-top:0;
  }

  .List1 {
      margin:0 auto;
      margin-top:50px;
      overflow-x:auto;
      overflow-y:hidden;
  }

  .List2 {
    margin:0 auto;
    margin-top:50px;
    overflow-x:auto;
}